doctype html
html(lang="ru")
    head
        title Hello World з допомогою nodejs і express
        link(rel="stylesheet", href="/static/main.css")
        link(rel="shortcut icon", href="/static/favicon.ico")
        meta(name="robots", content="noindex,nofollow")
    body
        div(class="demo")
            h1 Hello World з допомогою nodejs і express
            p Хелов!!!!
            p <a href="/about.html">про проект</a>
            br
            p <a href="/sitemap.html">мапа сайту</a>
            br
            p <a href="/news.html">новини</a>
