// templates/page.jade
doctype html
html(lang="ru")
    head
        title Hello World з допомогою nodejs і express
        link(rel="stylesheet", href="/static/main.css")
        link(rel="shortcut icon", href="/static/favicon.ico")
        meta(name="robots", content="noindex,nofollow")
    body
        div(class="demo")
            h1 Hello World nodejs і express
            p
                | Ви потрапили на сторінку <strong>#{page}.html</strong>,
                | перейти на <a href="/">головну</a>.
